{% extends 'template.html' %}

{% block title %}Совместно{% endblock %}

{% block content %}
    <style>
        a.microservice {
            display: inline-block;
            text-align: center;
            width: 160px;
            margin: 20px;
        }
        a.microservice img {
            width: 100px;
        }
    </style>

    <!--
    <h2>Платформы</h2>

    <a href="https://intera.space" target="_blank" class="microservice" title="">
        <img src="https://intera.space/static/logo.svg">
        <br>
        <span>Платформа микросервисов</span>
    </a>
    -->

    <!--<h2>Участвуйте в проектной деятельности</h2>-->

    <h2>Решайте задачи максимально продуктивно</h2>

    <a href="https://solveit.fun" target="_blank" class="microservice" title="фасилитация встреч и фиксация решений">
        <img src="https://solveit.fun/static/logo.svg">
        <br>
        <span>Холсты фасилитации</span>
    </a>

    <h2>Сохраняйте и связывайте фантастические идеи</h2>

    <a href="https://cachebrain.fun" target="_blank" class="microservice" title="хранение знаний, мыслей, конспектов в форме заметок">
        <img src="https://cachebrain.fun/static/logo.svg">
        <br>
        <span>База знаний</span>
    </a>

    <!--
    <h2>Расскажите миру о своём проекте или сообществе</h2>

    <a href="https://." target="_blank" class="microservice" title="">
        <img src="https://./static/logo.svg">
        <br>
        <span>Кросспостер</span>
    </a>
    -->
{% endblock %}

{% block end_of_body %}
{% endblock %}