{% extends 'template.html' %}

{% block title %}Совместно{% endblock %}

{% block start_of_head %}
    {{ block.super }}
    <meta name="robots" content="noindex"/>
{% endblock %}

{% block content %}
    <style>
        a.microservice {
            display: inline-block;
            width: 160px;
            margin: 20px;
        }
        a.microservice img {
            width: 100px;
        }
    </style>

    <div style="text-align: center;">

        <!--<h2>Участвуйте в проектной деятельности</h2>-->

        <h2>Решайте задачи максимально продуктивно</h2>

        <a {% if request.user.is_authenticated %}href="https://solveit.fun/faci/"{% else %}href="https://solveit.fun/" target="_blank"{% endif %} class="microservice" title="фасилитация встреч и фиксация решений">
            <img src="https://solveit.fun/static/logo.svg">
            <br>
            <span>Холсты фасилитации</span>
        </a>

        <a {% if request.user.is_authenticated %}href="https://intera.space/project/"{% else %}href="https://intera.space/" target="_blank"{% endif %} class="microservice" title="ведение страничек проектов">
            <img src="https://intera.space/static/logo.svg">
            <br>
            <span>Страницы проектов</span>
        </a>

        <h2>Сохраняйте и связывайте фантастические идеи</h2>

        <a {% if request.user.is_authenticated %}href="https://cachebrain.fun/note/"{% else %}href="https://cachebrain.fun/" target="_blank"{% endif %} class="microservice" title="хранение знаний, мыслей, конспектов в форме заметок">
            <img src="https://cachebrain.fun/static/logo.svg">
            <br>
            <span>База знаний</span>
        </a>

        <h2>Автоматизируйте взаимодействия людей и сервисов</h2>

        <a {% if request.user.is_authenticated %}href="https://bot.intera.space/social/"{% else %}href="https://bot.intera.space/" target="_blank"{% endif %} class="microservice" title="подключение ботов социальных сетей">
            <img src="https://bot.intera.space/static/logo.svg">
            <br>
            <span>Боты</span>
        </a>

        <!--
        <h2>Расскажите миру о своём проекте или сообществе</h2>

        <a href="https://." target="_blank" class="microservice" title="">
            <img src="https://./static/logo.svg">
            <br>
            <span>Кросспостер</span>
        </a>
        -->
    </div>
{% endblock %}

{% block end_of_body %}
{% endblock %}