{% extends 'template.html' %}

{% block title %}Профиль{% endblock %}

{% block page_title %}Профиль{% endblock %}

{% block content %}
    <a href="{% url 'custom_logout' %}">
        <input class="form-control" type="button" value="Выйти" style="width:inherit;position:absolute;top:41.6px;right:0;"/>
    </a>
    {% include 'base/profile_submenu.html' %}
    <br>
    <form>
        <div id="username-group" class="mb-3 form-group">
            <div class="form-floating">
                <input class="form-control" placeholder="имя пользователя" id="field_username" name="username" value="{{ user_data.username }}">
                <label for="field_username">Пользователь</label>
            </div>
        </div>
        <div id="email-group" class="mb-3 form-group">
            <div class="form-floating">
                <input class="form-control" placeholder="e-mail" id="field_email" name="email" disabled value="{{ user_data.email }}">
                <label for="field_email">E-mail</label>
            </div>
        </div>
        <div id="first_name-group" class="mb-3 form-group">
            <div class="form-floating">
                <input class="form-control" placeholder="имя" id="field_first_name" name="first_name" value="{{ user_data.first_name }}">
                <label for="field_first_name">Имя</label>
            </div>
        </div>
        <div id="last_name-group" class="mb-3 form-group">
            <div class="form-floating">
                <input class="form-control" placeholder="фамилия" id="field_last_name" name="last_name" value="{{ user_data.last_name }}">
                <label for="field_last_name">Фамилия</label>
            </div>
        </div>
        <input type="button" class="btn btn-primary" value="Сохранить" id="btn_save_profile">
        <input type="button" class="btn btn-danger" value="Удалить профиль" id="btn_delete_profile">
    </form>
    
    <script>
        function save_profile(event) {
            let form = event.target.form;
            $.ajax({
                url: "{% url 'custom_profile' %}",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                dataType: 'json',
                data: $(form).serialize(),
                success: function(result) {
                    set_valid_field(form, result.updated);
                },
                error: function(jqxhr, a, b) {
                    console.log(jqxhr.responseText);
                },
                statusCode: {
                    403: function(xhr) {
                        console.log(xhr.responseJSON.detail);
                    },
                    400: function(xhr) {
                        set_invalid_field(form, xhr.responseJSON);
                    },
                },
                method: "post"
            });
        }
        
        $("#btn_save_profile").click(save_profile);
    </script>
{% endblock %}
