h2, h3, h4 {
    margin-top: 18pt;
}
h1, h2, h3, h4 {
    margin-bottom: 12pt;
}
h1, h2 {
    text-align: center;
}
.paginator {
    text-align: center;
}
.paginator span, .paginator a {
    padding: 5px;
    text-decoration: none;
}